<div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Node Authentication</h1>

    <p>Login or Register with:</p>

    <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a ui-sref="signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a ui-sref="auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a ui-sref="auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    <a ui-sref="auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
</div>