<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<div growl></div>

	<!-- LOGIN FORM -->
	<form ng-submit="login()" ng-controller="SigninCtrl">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" ng-model="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a ui-sref="signup">Signup</a></p>
	<p>Or go <a ui-sref="home">home</a>.</p>

	
</div>