<div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">

	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>

			<container ng-show="user.local.email">
				<p>
					<strong>id</strong>: {{ user._id }}<br>
					<strong>email</strong>: {{ user.local.email }}<br>
					<strong>password</strong>: {{ user.local.password }}
				</p>
				
				<a redir href="/unlink/local" class="btn btn-default">Unlink</a>
			</container>
			<container ng-hide="user.local.email">
				<a href="/connect/local" class="btn btn-default">Connect Local</a>
			</container>

		</div>
	</div>

	<!-- FACEBOOK INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<container ng-show="user.facebook.token">
				<p>
					<strong>id</strong>: {{ user.facebook.id }}<br>
					<strong>token</strong>: {{ user.facebook.token }}<br>
					<strong>email</strong>: {{ user.facebook.email }}<br>
					<strong>name</strong>: {{ user.facebook.name }}<br>
				</p>

				<a redir href="/unlink/facebook" class="btn btn-primary">Unlink</a>
			</container>
			<container ng-hide="user.facebook.token">
				<a redir href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
			</container>

		</div>
	</div>
</div>
<div class="row">

	<!-- TWITTER INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

			<container ng-show="user.twitter.token">
				<p>
					<strong>id</strong>: {{ user.twitter.id }}<br>
					<strong>token</strong>: {{ user.twitter.token }}<br>
					<strong>display name</strong>: {{ user.twitter.displayName }}<br>
					<strong>username</strong>: {{ user.twitter.username }}
				</p>

				<a redir href="/unlink/twitter" class="btn btn-info">Unlink</a>
			</container>
			<container ng-hide="user.twitter.token">
				<a redir href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
			</container>

		</div>
	</div>

	<!-- GOOGLE INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

			<container ng-show="user.google.token">
				<p>
					<strong>id</strong>: {{ user.google.id }}<br>
					<strong>token</strong>: {{ user.google.token }}<br>
					<strong>email</strong>: {{ user.google.email }}<br>
					<strong>name</strong>: {{ user.google.name }}
				</p>

				<a redir href="/unlink/google" class="btn btn-danger">Unlink</a>
			</container>
			<container ng-hide="user.google.token">
				<a redir href="/connect/google" class="btn btn-danger">Connect Google</a>
			</container>

		</div>
	</div>
</div>

