<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<div growl></div>

	<!-- LOGIN FORM -->
	<form ng-submit="signup()" ng-controller="LocalSignUpCtrl">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" ng-model="formData.email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="formData.password">
		</div>
		<div class="form-group">
			<label>First Nanme</label>
			<input type="text" class="form-control" ng-model="formData.firstName">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" ng-model="formData.lastName">
		</div>
		<div class="form-group">
			<label>Phone Number</label>
			<input type="text" class="form-control" ng-model="formData.phone">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a ui-sref="login">Login</a></p>
	<p>Or go <a ui-sref="home">home</a>.</p>

</div>